@import '../../scss/variable.scss';

.spinner-loading {
    min-width: 200px;
    width: 100%;
    height: fit-content;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
    transition: 0.3s linear;

    .spinner-loading__loader {
        width : $size;
        height: $size;
        border-radius: 50%;
        display: inline-block;
        border-top:4px solid $color;
        border-right:4px solid transparent;
        animation: rotation 1s linear infinite;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width : $size;
            height: $size;
            border-radius: 50%;
            border-bottom:4px solid $subColor;
            border-left:4px solid transparent;
        }
    }
}



@keyframes rotation {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

