@import '../../scss/variable.scss';
table, 
td,
th {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    
    
    th, td {
        padding: 10px;
        border: solid 1px;
        text-align: center;
        @media (max-width: $break-point-mobile),(min-width: $break-point-mobile) and (max-width: $break-point-mobile-md)  {
            font-size: 0.8rem;
            padding: 2px;
        }
    }
}
.fixed {
    table-layout: fixed;
    margin: 0 auto;
    width: 95vw;
}

.tableHead{
    cursor: pointer;
    background: $color;
    color: #fff;
    &__link{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    };
    @media (max-width: $break-point-mobile),(min-width: $break-point-mobile) and (max-width: $break-point-mobile-md)  {
        font-size: 0.9rem;
        font-weight: 400;
        padding: 2px;
    }
}
.tableBody{
    cursor: pointer;
}