table, 
td,
th {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    
    
    th, td {
        padding: 10px;
        border: solid 1px;
        text-align: center;
    }
}
.fixed {
    table-layout: fixed;
    margin: 0 auto;
    width: 95vw;
}
.link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}