@import '../../scss/variable.scss';

.pagination {
    margin: 50px 0;
    padding: 0;
    text-align: center;
    li {
        display: inline;
        a {
            display: inline-block;
            text-decoration: none;
            padding: 5px 10px;
            color: #000;
            border-radius: 5px;
            -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
            &.active{
                background-color: $color;
                color: #fff
            }
            &:hover:not(.active) {
                background-color: $subColor;
                color: #fff
            }
            @media (max-width: $break-point-mobile),(min-width: $break-point-mobile) and (max-width: $break-point-mobile-md) {
                padding: 4px 8px;
                font-size: 0.8rem;
            }
        }
    }
    @media (max-width: $break-point-mobile) {
        margin: $padding;
    }
  }